<h1>Editing maintenance</h1>

<%= render "form", maintenance: @maintenance %>

<br>


<div>
  <%= link_to image_tag('back.svg') , :back , class: "btn btn-light", title: "Back to maintenance" %>
</div>